html {
  scroll-behavior: smooth;
  scroll-padding-top: 96px;
}

body {
  margin: 0;
}

main {
  padding-top: 80px;
}

@media (max-width: 700px) {
  html {
    scroll-padding-top: 128px;
  }

  main {
    padding-top: 112px;
  }
}